---
layout: archive
title: "Posts by Collection"
permalink: /collection/
author_profile: false
toc: true
toc_sticky: true
---

{% capture written_label %}'None'{% endcapture %}

{% for collection in site.collections %}
  {% assign title = collection.title | default: collection.label %}
  {% unless collection.output == false or collection.label == "posts" %}
    <h2 id="{{ title | slugify }}" class="archive__subtitle">{{ title }}</h2>
    {% for post in collection.docs %}
      {% unless post.output == false or collection.label == "posts" %}
        {% include archive-single.html %}
      {% endunless %}
    {% endfor %}
  {% endunless %}
{% endfor %}
