---
layout: archive
title: "Posts by Collection"
permalink: /collection/
author_profile: true
---

{% capture written_label %}'None'{% endcapture %}

{% for collection in site.collections %}
  {% assign label = collection.label | default: collection.label %}
  {% unless collection.output == false or label == "posts" %}
    <h2 id="{{ label | slugify }}" class="archive__subtitle">{{ label }}</h2>
    {% for post in collection.docs %}
      {% unless collection.output == false or label == "posts" %}
        {% include archive-single.html %}
      {% endunless %}
    {% endfor %}
  {% endunless %}
{% endfor %}