---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

/* system typefaces */
$serif      : Georgia, Times, serif;
$sans-serif : "Roboto", sans-serif;
$monospace  : Monaco, Consolas, "Lucida Console", monospace;

.archive__item-title {
    font-size: 1em;
}

.page__content {
  font-size: 0.85em;
}

.page__title {
  font-size: 1em;
}

.page__lead {
  font-size: 1em;
}

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
