---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---
/* system typefaces */
$serif      : Georgia, Times, serif;
$sans-serif : "Helvetica Neue", sans-serif;
$monospace  : Monaco, Consolas, "Lucida Console", monospace;

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
